#Edge AI - 
    # Only system/temporary files excluded

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/
